body {
  background-color: rgb(68, 7, 7);
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  overflow-y: hidden;
}
.playArea {
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 1400px;
  height: 800px;
  border: 3px solid green;
  background-color: rgb(31, 31, 31);
}
.devInfo {
  font-size: 30px;
  position: absolute;
  color: white;
  left: 1400px;
  width: 260px;
  opacity: 0;
}
